{
    "openapi": "3.0.1",
    "info": {
        "title": "Open Data V1 Search API",
        "description": "Dit document beschrijft de Zoek operaties van de Open Data API.",
        "contact": {
            "name": "De Lijn",
            "url": "https://www.delijn.be/",
            "email": "info@delijn.be"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.delijn.be/DLZoekOpenData/v1"
        }
    ],
    "paths": {
        "/zoek/haltes/{zoekArgument}": {
            "get": {
                "tags": [
                    "zoek"
                ],
                "summary": "zoek naar haltes",
                "description": "zoek naar haltes",
                "operationId": "zoekHaltes",
                "parameters": [
                    {
                        "name": "zoekArgument",
                        "in": "path",
                        "description": "het zoekargument",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "huidigePositie",
                        "in": "query",
                        "description": "de latitude en longitude coordinaat waarden gescheiden door komma bv, 51.056064,3.797336 van de lokatie waarvoor haltes in de buurt gezocht wordt",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startIndex",
                        "in": "query",
                        "description": "Format - int32. de start positie in de lijst van gevonden haltes",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "maxAantalHits",
                        "in": "query",
                        "description": "Format - int32. het maximaal aantal haltes aangeleverd door deze service ",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HaltesHits"
                                },
                                "example": {
                                    "aantalHits": 320,
                                    "haltes": [
                                        {
                                            "entiteitnummer": "3",
                                            "haltenummer": "306938",
                                            "omschrijving": "Butsel Kerk",
                                            "omschrijvingLang": "Boutersem Butsel Kerk",
                                            "gemeentenummer": 57,
                                            "omschrijvingGemeente": "Leuven",
                                            "districtCode": "GRI",
                                            "geoCoordinaat": "50.98145261213046,4.823559183763914",
                                            "halteToegankelijkheden": "VISUELE_BEPERKING",
                                            "hoofdHalte": true,
                                            "taal": "N",
                                            "links": [
                                                {
                                                    "rel": "string",
                                                    "url": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "service of achterliggende systemen niet beschikbaar",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/zoek/lijnrichtingen/{zoekArgument}": {
            "get": {
                "tags": [
                    "zoek"
                ],
                "summary": "zoek naar lijnen",
                "description": "zoek naar lijnen",
                "operationId": "zoekLijnrichtingen",
                "parameters": [
                    {
                        "name": "zoekArgument",
                        "in": "path",
                        "description": "het zoekargument",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "huidigePositie",
                        "in": "query",
                        "description": "de latitude en longitude coordinaat waarden gescheiden door komma bv, 51.056064,3.797336 van de lokatie waarvoor lijnen in de buurt gezocht wordt",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "startIndex",
                        "in": "query",
                        "description": "Format - int32. de start positie in de lijst van gevonden lijnen",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "maxAantalHits",
                        "in": "query",
                        "description": "Format - int32. het maximaal aantal lijnen aangeleverd door deze service ",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LijnRichtingHits"
                                },
                                "example": {
                                    "aantalHits": 6,
                                    "lijnrichtingen": [
                                        {
                                            "lijnNummerPubliek": "335",
                                            "entiteitnummer": "3",
                                            "lijnnummer": "335",
                                            "richting": "HEEN",
                                            "omschrijving": "Leuven - Aarschot",
                                            "bestemming": "LEUVEN GASTHUISB.",
                                            "kleurVoorGrond": "#FFFFFF",
                                            "kleurAchterGrond": "#991199",
                                            "kleurAchterGrondRand": "#991199",
                                            "links": [
                                                {
                                                    "rel": "string",
                                                    "url": "string"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "service of achterliggende systemen niet beschikbaar",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "GeoCoordinaat": {
                "type": "object",
                "properties": {
                    "latitude": {
                        "type": "number",
                        "description": "bevat de latitude van een geografische locatie",
                        "format": "double"
                    },
                    "longitude": {
                        "type": "number",
                        "description": "bevat de longitude van een geografische locatie",
                        "format": "double"
                    }
                }
            },
            "Halte": {
                "required": [
                    "districtCode",
                    "entiteitnummer",
                    "haltenummer",
                    "omschrijving",
                    "omschrijvingLang",
                    "taal"
                ],
                "type": "object",
                "properties": {
                    "entiteitnummer": {
                        "type": "string",
                        "description": "nummer entiteit (key waarde)",
                        "example": "3"
                    },
                    "haltenummer": {
                        "type": "string",
                        "description": "halte nummer (key waarde)",
                        "example": "306938"
                    },
                    "omschrijving": {
                        "type": "string",
                        "description": "omschrijving van de halte",
                        "example": "Butsel Kerk"
                    },
                    "omschrijvingLang": {
                        "type": "string",
                        "description": "volledige omschrijving van de halte",
                        "example": "Boutersem Butsel Kerk"
                    },
                    "gemeentenummer": {
                        "type": "integer",
                        "description": "nummer gemeente (key waarde)",
                        "format": "int32",
                        "example": 57
                    },
                    "omschrijvingGemeente": {
                        "type": "string",
                        "description": "naam van de gemeente waar de halte zich bevindt",
                        "example": "Leuven"
                    },
                    "districtCode": {
                        "type": "string",
                        "description": "districtcode van het district waar de halte zich bevindt",
                        "example": "GRI"
                    },
                    "geoCoordinaat": {
                        "$ref": "#/components/schemas/GeoCoordinaat"
                    },
                    "halteToegankelijkheden": {
                        "type": "array",
                        "items": {
                            "enum": [
                                "MOTORISCHE_BEPERKING",
                                "MOTORISCH_MET_ASSIST",
                                "VISUELE_BEPERKING"
                            ],
                            "type": "string"
                        },
                        "description": "omschrijving van de toegankelijkheid van een halte",
                        "example": "VISUELE_BEPERKING"
                    },
                    "hoofdHalte": {
                        "type": "boolean",
                        "description": "is de halte een hoofdhalte (attribuut voor toekomstig gebruik, geeft momenteel null als waarde)",
                        "example": true
                    },
                    "taal": {
                        "type": "string",
                        "description": "de taal waarin de berichten voor de halte worden weergegeven",
                        "example": "N"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Link"
                        }
                    }
                }
            },
            "HaltesHits": {
                "required": [
                    "aantalHits",
                    "haltes"
                ],
                "type": "object",
                "properties": {
                    "aantalHits": {
                        "type": "integer",
                        "description": "het aantal gevonden haltes die beantwoorden aan het zoekargument",
                        "format": "int32",
                        "example": 320
                    },
                    "haltes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Halte"
                        },
                        "description": "de gevonden haltes die beantwoorden aan het zoekargument"
                    }
                }
            },
            "LijnRichtingHits": {
                "required": [
                    "aantalHits",
                    "lijnrichtingen"
                ],
                "type": "object",
                "properties": {
                    "aantalHits": {
                        "type": "integer",
                        "description": "het aantal gevonden lijnrichtingen die beantwoorden aan het zoekargument",
                        "format": "int32",
                        "example": 6
                    },
                    "lijnrichtingen": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Lijnrichting"
                        },
                        "description": "de gevonden lijnrichtingen die beantwoorden aan het zoekargument"
                    }
                }
            },
            "Lijnrichting": {
                "required": [
                    "entiteitnummer",
                    "lijnnummer",
                    "omschrijving",
                    "richting"
                ],
                "type": "object",
                "properties": {
                    "lijnNummerPubliek": {
                        "type": "string",
                        "description": "publiek lijnnummer",
                        "example": "335"
                    },
                    "entiteitnummer": {
                        "type": "string",
                        "description": "entiteit nummer",
                        "example": "3"
                    },
                    "lijnnummer": {
                        "type": "string",
                        "description": "lijn nummer",
                        "example": "335"
                    },
                    "richting": {
                        "enum": [
                            "HEEN",
                            "TERUG"
                        ],
                        "type": "string",
                        "description": "richting van de lijn",
                        "example": "HEEN"
                    },
                    "omschrijving": {
                        "type": "string",
                        "description": "omschrijving van de lijnrichting",
                        "example": "Leuven - Aarschot"
                    },
                    "bestemming": {
                        "type": "string",
                        "description": "eindhalte van de lijnrichting",
                        "example": "LEUVEN GASTHUISB."
                    },
                    "kleurVoorGrond": {
                        "type": "string",
                        "description": "kleur van het lijnnummer op het vignet",
                        "example": "#FFFFFF"
                    },
                    "kleurAchterGrond": {
                        "type": "string",
                        "description": "achtergrond kleur van het lijn vignet",
                        "example": "#991199"
                    },
                    "kleurAchterGrondRand": {
                        "type": "string",
                        "description": "kleur van de rand van het lijn vignet",
                        "example": "#991199"
                    },
                    "links": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Link"
                        }
                    }
                }
            },
            "Link": {
                "type": "object",
                "properties": {
                    "rel": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "tags": [
        {
            "name": "zoek"
        }
    ]
}